$linesInItems: 0 !important;
$backgroundItemColor: #079FF2 !important;
$menuHeader: #ECF7F9;
$appHeader:#ECF7F9;

.defaultBarColor {
  background-color: $appHeader;
}

.defaultHeaderColor {
  background-color: $menuHeader;
}

.menu{
	border:$linesInItems;
}

.colorSelItem {
background-color:$backgroundItemColor;
}

