$linesInItems: 0 !important;
$backgroundItemColor: #079FF2 !important;

.defaultBarColor {
  background-color: white;
}

.defaultHeaderColor {
  background-color: white;
}

.menu{
	border:$linesInItems;
}

.colorSelItem {
background-color:$backgroundItemColor;
}

